.titleMenu {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 69.17px;
  margin-bottom: 0;
  color: #fff;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
}

.containerCards {
  margin-top: 111px;
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
}

.banner {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 43px;
  color: #fff;
  background-image: url("../assets/bannerPizza.png");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 111px 0;
  border-radius: 34px;
  box-shadow: 0 11.59px 10.23px 0 #0E040461;
  margin-bottom: 54px;
}
